@import url('https://fonts.googleapis.com/css?family=Comfortaa|Patua+One');

body {
    color: #404040;
    font-family: 'Comfortaa', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.head {
    background-color: teal;
}

h2 {
clear: both;
font-family: 'Patua One', serif;
letter-spacing: 2px;
}

.card {
    background: white;
    margin-bottom: 2em;
}

.card-content {
    padding: 1.4em;
}

.card-content h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: bold;
}



.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}

p {
    margin-bottom: 1.5em;
    color: #898989;
}

blockquote {
    margin: 0 1.5em;
}
