@import url('https://fonts.googleapis.com/css?family=Comfortaa|Patua+One');

body {
    background-color: #404040;
    font-family: 'Comfortaa', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: yellowgreen;
}

.container{
    display:flex;
    justify-content: center;
    text-align: center;
}


.head {
    background-color: teal; 
    text-align: center;   
}

h2 {
clear: both;
font-family: 'Patua One', serif;
letter-spacing: 2px;
-webkit-animation: glow 2s ease-in-out infinite alternate;
-moz-animation: glow 2s ease-in-out infinite alternate;
animation: glow 2s ease-in-out infinite alternate;
}

  @-webkit-keyframes glow {
      from {
          color: #fff;
          text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
      }

      to {
          color: gray;
          text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
      }
  }


.card {
    background: white;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-around;
}

.card-content {
    padding: 1.4em;
}

.card-content h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: bold;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    border: 0;
    width: 100%;
    height: auto;
}

p {
    margin-bottom: 1.5em;
    color: #898989;
}

blockquote {
    margin: 0 1.5em;
}


